group map_00 {
    //spritesheet from: https://egordorichev.itch.io/toi

    ARC_Spritesheet sheet = "res/img/tileset.png";

    TextMap map = "res/mazes/maze_00.txt";

    ARC_Rect tileBounds = { 0, 0, 8, 8 };

    Tile tS = { 0, { 2, 3 }, 0 };
    Tile t0 = { 0, { 2, 3 }, 0 };
    Tile t1 = { 0, { 2, 4 }, 0 };
}