group start_menu {
    ARC_Spritesheet sheet = "res/img/temp_menu_text.png";

    //buttons
    double scale = 8;
    double spacing = 10;
    double hoverScale = 0.5;
    double hoverScaleSpeed = 0.01;

    ARC_Rect[] playBounds = { { 0,  0, 80, 16 } };
    ARC_Rect[] editBounds = { { 0, 16, 80, 16 } };
    ARC_Rect[] exitBounds = { { 0, 32, 80, 16 } };

    ARC_Sprite play = { sheet, playBounds };
    ARC_Sprite edit = { sheet, editBounds };
    ARC_Sprite exit = { sheet, exitBounds };
}